table{
    width: 100%;
    border-collapse: collapse;
}
thead{
  color: white;
}
td{
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #4cffa8;
    text-align: center;
}
 .tablename{
    width: 15%;
}
.tabletime{
    width: 40%;
}
.scroll{
  height: 550px;
  overflow-y: auto;
}













/* <table>
      <thead>
                <tr>
                    <td
                    style={{
                        backgroundColor: "#4ca8ff",
                        border: "1px solid white",
                        borderCollapse: "collapse",
                        padding: "7px",
                        width: "100px",
                        color:"white",
                      }}><big>Name</big></td>
                      <td
                    style={{
                      backgroundColor: "#4ca8ff",
                      border: "1px solid white",
                      borderCollapse: "collapse",
                      padding: "7px",
                      width: "800px",
                      color:"white",
                    }}
                  ><big>
                   Time-stamp </big>
                  </td>

                    <td
                    style={{
                        backgroundColor: "#4ca8ff",
                        border: "1px solid white",
                        borderCollapse: "collapse",
                        padding: "7px",
                        width: "300px",
                        color:"white",
                      }}
                    
                    ><big>ContactDetails</big></td>

                    <td
                    style={{
                        backgroundColor: "#4ca8ff",
                        border: "1px solid white",
                        borderCollapse: "collapse",
                        padding: "7px",
                        width: "400px",
                        color:"white",
                      }}

                    ><big>WalletAddress</big></td>

                    <td
                    style={{
                        backgroundColor: "#4ca8ff",
                        border: "1px solid white",
                        borderCollapse: "collapse",
                        padding: "7px",
                        width: "400px",
                        color:"white",
                      }}
                    ><big>Purpose</big></td>
                </tr>
                 </thead>
      </table> */









/* <table
style={{
  marginBottom: "10px",
}}
>     
<tbody>
  <tr>
    <td
      style={{
        backgroundColor:"#4cffa8",
        border: "1px solid white",
        borderCollapse: "collapse",
        padding: "7px",
        width: "100px",
      }}
    >
      {memo.name}
    </td>
    <td
      style={{
        backgroundColor: "#4cffa8",
        border: "1px solid white",
        borderCollapse: "collapse",
        padding: "7px",
        width: "800px",
      }}
    >
     {dateobj}
    </td>
    <td
      style={{
          backgroundColor: "#4cffa8",
          border: "1px solid white",
          borderCollapse: "collapse",
          padding: "7px",
          width: "300px",
        }}
    >
      {memo.contactDetails}
    </td>
    <td
      style={{
        backgroundColor: "#4cffa8",
        border: "1px solid white",
        borderCollapse: "collapse",
        padding: "7px",
        width: "400px",
      }}
    >
      {memo.walletAddress}
    </td>
    <td
      style={{
        backgroundColor: "#4cffa8",
        border: "1px solid white",
        borderCollapse: "collapse",
        padding: "7px",
        width: "400px",
      }}
    >
      {memo.purpose}
    </td>
  </tr>
</tbody>
</table> */ 